/* Genel stiller ve container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

#products {
  padding: 2rem 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 0.5rem;
  background-color: #F1F2F6;
  margin-top: 1rem;

}